<section class="project">
  <h1 class="project-title">Meetups title</h1>
  <p class="project-description">
    Description. and description. more description. more description. more
    description. more description. more description. more description. more
    description. more description. more description. more description. more
    description. more description. more description. more description. more description. more
    description. more description. more description. more description. more
    description. more description. more description. more description. more
    description. more description. more description. more description. more description. more
    description. more description. more description. more description. more
    description. more description. more description. more description. more
    description. more description. more description. more description. more description. more
    description. more description. more description. more description. more
    description. more description. more description. more description. more
    description. more description. more description. more description.
  </p>
</section>
