<div class="project">
  <h1 class="project-title">Meetups title</h1>
  <div class="project-description">
    <p>
      Это приложение для отображения митапов и подробной информации о них. С
      возможностью создания собственных митапов и их редактирование.
    </p>
    <br />
    <p>
      Если ты являетесь администратором этого приложения, у тебя есть право
      <span class="joke">убивать</span> удалять и добавлять пользователей,
      давать и изменять их роли, а так же заниматься модерацией митапов.
    </p>
    <br />
    <p>
      Для того что бы создать учетную запись нужно обратиться к ближайшему
      свободному администратору. Создать учетную запись самому не получится.
    </p>
  </div>
</div>
