<div class="todo-item">

  <div class="todo-item-body">
    <header class="todo-item-body__header">
      <h2 class="todo-item-body__title">
        {{todoItem.title}}
      </h2>
      <span class="todo-item-body__status" [ngClass]="{
        'important': todoItem.status === 'important',
        'completed': todoItem.status === 'completed'
      }">
        {{todoItem.status}}</span>
    </header>
    <p class="todo-item-body__description">{{todoItem.description}}</p>
  </div>

  <div class="todo-item-controls">
    <button class="todo-item-controls__delete-button">Delete</button>
    <button class="todo-item-controls__status-button">Change status</button>
  </div>

</div>
