<div class="meetup-card">
  <div class="header">
    <h3 class="header__name">{{ meetup.name }}</h3>
    <div class="header-aside">
      <p class="header-aside__time">
        {{ meetup.time | date : "dd.MM.YY, HH:mm" }}
      </p>
      <p class="header-aside__location">{{ meetup.location }}</p>
    </div>
  </div>

  <div class="body">
    <p class="body__description">{{ meetup.description }}</p>

    <div *ngIf="!isHideFullView" class="full-view">
      <div class="sub-section">
        <h4 class="sub-section__title">Целевая аудитория</h4>
        <p class="sub-section__description">{{ meetup.target_audience }}</p>
      </div>
      <div class="sub-section">
        <h4 class="sub-section__title">Что надо знать?</h4>
        <p class="sub-section__description">{{ meetup.need_to_know }}</p>
      </div>
      <div class="sub-section">
        <h4 class="sub-section__title">Чтот будет?</h4>
        <p class="sub-section__description">{{ meetup.will_happen }}</p>
      </div>
      <div class="sub-section">
        <h4 class="sub-section__title">Почему надо обязательно прийти?</h4>
        <p class="sub-section__description">{{ meetup.reason_to_come }}</p>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="author">
      <img src="assets/images/login.png" class="author__icon" alt="author" />
      <span class="author__fio">{{ meetup.owner.fio }}</span>
    </div>

    <div *ngIf="isActual" class="controls">
      <button
        *ngIf="isMyMeetup"
        (click)="handleClickSetMeetup.emit(meetup)"
        class="edit-btn"
      >
        Редактировать
      </button>
      <button
        *ngIf="!isMyMeetup"
        [ngClass]="{
          'subscribe-btn__not-go': isSubscribed
        }"
        (click)="toogleSub()"
        class="subscribe-btn"
      >
        {{ isSubscribed ? "Не смогу пойти" : "Я пойду!" }}
      </button>
      <div class="toogle-full-description">
        <button class="toogle-full-description__btn" (click)="changeView()">
          <img
            *ngIf="isHideFullView"
            src="assets/images/arrow-down.png"
            class="toogle-full-description__icon"
            alt="toogle-full-description"
          />
          <img
            *ngIf="!isHideFullView"
            src="assets/images/arrow-up.png"
            class="toogle-full-description__icon"
            alt="toogle-full-description"
          />
        </button>
      </div>
    </div>
  </div>
</div>
