.meetup-card {
  display: flex;
  flex-direction: column;
  padding: 14px 18px;
  margin-bottom: 20px;
  background-color: var(--default-color);
  border: 0.3px solid var(--primary-color);

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    &__name {
      display: flex;
      align-items: center;
      font-family: 'Cherry Bomb Regular';
      font-size: 24px;
      line-height: 24px;
      color: var(--bold-color);
    }

    &-aside {
      display: flex;
      flex-direction: column;

      &__time {
        display: flex;
        align-items: center;
        font-family: 'Cherry Bomb Regular';
        font-size: 24px;
        line-height: 24px;
        color: var(--bold-color);
      }

      &__location {
        font-size: 14px;
        line-height: 19px;
        color: var(--bold-color);
      }
    }
  }

  .body {
    &__description {
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 25px;
      color: var(--primary-color);
    }

    .full-view {
      .sub-section {
        margin-bottom: 20px;

        &__title {
          margin-bottom: 4px;
          font-size: 20px;
          line-height: 27px;
          color: var(--bold-color);
        }

        &__description {
          font-size: 18px;
          line-height: 25px;
          color: var(--primary-color);
        }
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;

    .author {
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: var(--bold-color);

      &__icon {
        width: 25px;
        height: 25px;
        margin-right: 10px;
      }

      &__fio {
        font-size: 18px;
        line-height: 25px;
        color: var(--bold-color);
      }
    }

    .controls {
      display: flex;
      flex-direction: row;
      justify-content: center;
      position: absolute;
      bottom: -14px;
      right: -18px;

      .edit-btn,
      .subscribe-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 15px;
        margin-right: 14px;
        height: 50px;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 4px 4px rgba(62, 5, 4, 0.25);
        font-size: 18px;
        line-height: 25px;
        background-color: var(--secondary-color);
        color: var(--bold-color);
        cursor: pointer;

        &__not-go {
          background-color: var(--primary-color);
          color: var(--secondary-color);
        }
      }

      .toogle-full-description {
        &__btn {
          display: flex;
          align-items: center;
          padding: 14px 20px;
          border: none;
          border-radius: 5px;
          background-color: var(--accent-color);

          &__icon {
            width: 30px;
            height: 23px;
          }
        }
      }
    }
  }

}