<app-search (handleChangeSearch)="searchState = $event"></app-search>

<div class="meetups-list">
  <div *ngIf="!meetupsList.length" class="loading">loading</div>

  <ul *ngIf="isHideMeetupForm" class="meetups-list__list">
    <app-meetup-card
      *ngFor="
        let meetup of meetupsList | filterMeetups : searchState;
        trackBy: trackByItems
      "
      [meetup]="meetup"
      [isMyMeetup]="true"
      (handleClickSetMeetup)="setMeetupForChange(meetup)"
    ></app-meetup-card>
  </ul>

  <app-meetup-form
    [isCreateMode]="!isHideMeetupForm"
    [meetupForEdit]="meetupForChange"
    (handleClickCreate)="createMeetup($event)"
    (handleClickChange)="changeMeetup($event, currentMeetupId)"
  ></app-meetup-form>

  <div class="footer">
    <button
      type="submit"
      class="footer__create-meetup-btn"
      (click)="toggleViewMeetupForm()"
    >
      {{ isHideMeetupForm ? "Создать митап" : "Отмена" }}
    </button>
  </div>
</div>
