<app-search (handleChangeSearch)="searchState = $event"></app-search>

<div class="meetups-list">
  <app-loader *ngIf="!(getMeetups | async) as meetups"></app-loader>
  
  <ng-container *ngIf="(getMeetups | async) as meetups">
    <ul *ngIf="isHideMeetupForm" class="meetups-list__list">
      <app-meetup-card
      *ngFor="
      let meetup of meetups | filterMeetups : searchState;
      trackBy: trackByItems
      "
      [meetup]="meetup"
      [isMyMeetup]="true"
      (handleClickSetMeetup)="setMeetupForChange($event)"
      ></app-meetup-card>
    </ul>
  </ng-container>

  <app-meetup-form
    [isCreateMode]="!isHideMeetupForm"
    [meetupForEdit]="meetupForChange"
    (handleClickCreate)="createMeetup($event)"
    (handleClickChange)="changeMeetup($event, currentMeetupId)"
  ></app-meetup-form>

  <div class="footer">
    <button
      type="submit"
      class="footer__create-meetup-btn"
      (click)="toggleViewMeetupForm()"
    >
      {{ isHideMeetupForm ? "Создать митап" : "Отмена" }}
    </button>
  </div>
</div>
