<div *ngIf="isCreateMode" class="meetup-form-modul">
  <h2 class="meetup-form-modul__title">Создание митапа</h2>
  <form [formGroup]="meetupForm" class="form" (submit)="createNewMeetup()">
    <div class="field">
      <label class="field__label" for="name"
        >Название:
        <app-show-error
          [form]="meetupForm"
          [fieldName]="'name'"
        ></app-show-error>
      </label>
      <input
        type="text"
        class="field__input-text"
        id="name"
        formControlName="name"
      />
    </div>

    <div class="date-time-block">
      <div class="field">
        <label class="field__label" for="date"
          >Дата:<app-show-error
            [form]="meetupForm"
            [fieldName]="'date'"
          ></app-show-error
        ></label>
        <input
          type="date"
          class="field__input-date"
          id="date"
          formControlName="date"
        />
      </div>
      <div class="field">
        <label class="field__label label-time" for="time"
          >Время:
          <app-show-error
            [form]="meetupForm"
            [fieldName]="'time'"
          ></app-show-error>
        </label>
        <input
          type="time"
          class="field__input-time"
          id="time"
          formControlName="time"
        />
      </div>
    </div>

    <div class="field">
      <label class="field__label" for="location">Место:</label>
      <input
        type="text"
        class="field__input-text"
        id="location"
        formControlName="location"
      />
    </div>

    <div class="field">
      <label class="field__label" for="duration">Продолжительность:</label>
      <input
        type="text"
        class="field__input-text"
        id="duration"
        formControlName="duration"
      />
    </div>

    <div class="field">
      <label class="field__label" for="description"
        >Описание:<app-show-error
          [form]="meetupForm"
          [fieldName]="'description'"
        ></app-show-error
      ></label>
      <textarea
        class="field__textarea"
        id="description"
        name="description"
        formControlName="description"
      ></textarea>
    </div>

    <div class="field">
      <label class="field__label" for="target-audience"
        >Целевая аудитория:</label
      >
      <textarea
        class="field__textarea"
        id="target-audience"
        formControlName="target_audience"
      ></textarea>
    </div>

    <div class="field">
      <label class="field__label" for="need-to-know">Что надо знать:</label>
      <textarea
        class="field__textarea"
        id="need-to-know"
        formControlName="need_to_know"
      ></textarea>
    </div>

    <div class="field">
      <label class="field__label" for="will-happen">Что будет:</label>
      <textarea
        class="field__textarea"
        id="will-happen"
        formControlName="will_happen"
      ></textarea>
    </div>

    <div class="field">
      <label class="field__label" for="reason_to_come"
        >Почему надо обязательно прийти:</label
      >
      <textarea
        class="field__textarea"
        id="reason_to_come"
        formControlName="reason_to_come"
      ></textarea>
    </div>

    <button class="form__create-btn" type="submit">
      {{ meetupForEdit ? "Изменить" : "Создать" }}
    </button>
  </form>
</div>
