.meetup-form-modul {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  padding: 10px 180px;
  border: 0.3px solid var(--primary-color);
  background-color: var(--default-color);

  &__title {
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-family: 'Cherry Bomb Regular';
    font-size: 24px;
    line-height: 24px;
    color: var(--bold-color);
  }

  .form {
    display: flex;
    flex-direction: column;

    .field {
      display: flex;
      flex-direction: row;
      margin-bottom: 40px;

      &__label {
        width: 200px;
        padding: 10px 0px;
        font-size: 18px;
        line-height: 25px;
        color: var(--bold-color);

      }

      &__input-text,
      &__input-date,
      &__input-time,
      &__textarea {
        display: inline-block;
        padding: 13px 20px;
        width: 100%;
        background: var(--default-color);
        border: 3px solid var(--secondary-color);
        border-radius: 3px;
        font-size: 18px;
        line-height: 25px;
        color: var(--primary-color);
      }

      &__input-text {
        width: 520px;
      }

      .label-time {
        width: 100px;
      }

      &__input-date,
      &__input-time {
        width: 260px;
      }

      &__textarea {
        height: 200px;
        margin-left: 40px;
      }

      input.ng-touched.ng-invalid, 
      textarea.ng-touched.ng-invalid {
        border-color: red;
      }

    }

    .date-time-block {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__create-btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 15px;
      margin-bottom: 20px;
      height: 50px;
      border: none;
      border-radius: 5px;
      background-color: var(--create-color);
      box-shadow: 0px 4px 4px rgba(62, 5, 4, 0.25);
      font-size: 18px;
      line-height: 25px;
      color: var(--bold-color);
    }
  }
}