@import "../../../variables.scss";

.todo-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;

  &-body {
    width: 600px;
    padding: 0px 15px;

    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #bbbbbb;
    }

    &__title {
      padding: 5px;
      font-weight: bold;
    }

    &__status {
      padding: 5px;
      font-size: 1.2em;
      font-weight: bold;
    }

    &__description {
      padding: 5px;
      font-style: italic;
    }
  }

  &-controls {
    display: flex;
    flex-direction: column;

    &__status-toogle-buttons {
      display: flex;
      flex-direction: column;
    }

    button {
      margin-top: 5px;
      min-width: 170px;
    }

    &__delete-button {
      background-color: $main-color;
    }
  }

  .important {
    background-color: $important-color;
  }

  .completed {
    background-color: $completed-color;
  }
}