<div class="meetups-list">
  <!-- <ul class="meetups-list__list">
    <app-meetup-card
      *ngFor="
        let meetup of meetupsList | filterMeetups : searchState;
        trackBy: trackByItems
      "
      [meetup]="meetup"
      [isMyMeetup]="false"
    ></app-meetup-card>
  </ul> -->

  <app-meetup-form [isCreateMode]="isHideMeetupForm"></app-meetup-form>
  <button class="create-meetup-btn" (click)="toggleViewMeetupForm()">
    {{ isHideMeetupForm ? "Отмена" : "Создать митап" }}
  </button>
</div>
