<div class="meetups-list">
  <ul *ngIf="isHideMeetupForm" class="meetups-list__list">
    <app-meetup-card
      *ngFor="
        let meetup of meetupsList | filterMeetups : searchState;
        trackBy: trackByItems
      "
      [meetup]="meetup"
      [isMyMeetup]="false"
    ></app-meetup-card>
  </ul>

  <app-meetup-form
    [isCreateMode]="!isHideMeetupForm"
    (handleClickCreate)="createMeetup($event)"
  ></app-meetup-form>

  <div class="footer">
    <button class="footer__create-meetup-btn" (click)="toggleViewMeetupForm()">
      {{ isHideMeetupForm ? "Создать митап" : "Отмена" }}
    </button>
  </div>
</div>
