<div class="search">
  <input
    [(ngModel)]="searchState.searchValue"
    type="text"
    class="search__input"
    placeholder="Поиск"
  />
  <select [(ngModel)]="searchState.type" name="type" class="search__filter">
    <option [value]="'name'">В названии</option>
    <option [value]="'description'">В описании</option>
    <option [value]="'location'">По локации</option>
    <option [value]="'fio'">По автору</option>
  </select>
  <button class="search__btn" (click)="getSearchParams(searchState)">
    Поиск
  </button>
</div>
