@import "./variables.scss";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  width: 100%;
  font-family: "Century Gothic", sans-serif;
  color: $text-color;
  background-color: $bg-color;

  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
  }
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  padding: 4px 7px;
  border: 2px solid $second-color;
  border-radius: 4px;
  font-size: 1em;
  font-weight: bold;
  color: $second-color;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: $button-hover-color;
  }
}