$main-color: #fca36b;
$second-color: #c09a3a;

$bg-color: #22222a;
$text-color: #dedede;
$text-color-grey: #999999;

$button-hover-color: #3a3a3f;
$input-bg-color: #292930;

$important-color: #c95020;
$completed-color: #5ab827;