.auth {
  .auth-form {
    display: flex;
    flex-direction: column;
    width: 342px;
    margin-top: 270px;

    &__input {
      width: 100%;
      margin-bottom: 26px;
      padding: 12px 20px;
      border: none;
      border-radius: 5px;
      font-size: 18px;
      line-height: 25px;
      color: var(--primary-color);
      background-color: var(--default-color);
    }

    .login-field {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 36px;

      &__create-account {
        width: 120px;
        height: 50px;

        a {
          font-family: 'Open Sans Hebrew Condensed Regular';
          font-size: 18px;
          line-height: 25px;
          color: var(--create-color);
        }
      }

      &__login-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 125px;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        background: var(--secondary-color);
        box-shadow: 0px 4px 4px rgba(62, 5, 4, 0.25);
        font-size: 18px;
        line-height: 25px;
        color: var(--bold-color);
      }
    }
  }
}