<div class="auth">
  <div *ngIf="!user" class="auth-form">
    <input
      type="text"
      class="auth-form__input login"
      placeholder="Login"
      [(ngModel)]="email"
    />
    <input
      type="password"
      class="auth-form__input password"
      placeholder="Password"
      [(ngModel)]="password"
    />

    <div class="login-field">
      <div class="login-field__create-account">
        <a href="#">How to create account?</a>
      </div>
      <button (click)="login()" type="button" class="login-field__login-button">
        Log In
      </button>
    </div>
  </div>
</div>
