@import "../../../../variables.scss";

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 100%;
  padding: 20px;

  &__login-input,
  &__password-input {
    width: 320px;
    height: 30px;
    margin-bottom: 20px;
    padding: 9px 12px;

    border: 1px solid $input-bg-color;
    border-bottom: 1px solid $second-color;
    border-radius: 4px;
    color: $text-color;
    background-color: $input-bg-color;
    font-size: 1em;

    &:focus,
    &:active,
    &:hover {
      border: 1px solid $second-color;

      background-color: $button-hover-color;
    }
  }
}

.login-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__create-account {
    width: 150px;

    a {
      color: $completed-color;
    }
  }

  &__login-button {
    margin-top: 5px;
    width: 150px;
    height: 40px;
    border: 1px solid $second-color;
    color: $second-color;

    font-size: 1em;
    font-weight: bold;

    &:hover {
      background-color: $button-hover-color;
    }
  }
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__email {
    padding: 20px;
    font-size: 2em;
  }

  .roles-list {
    list-style: none;
    align-self: flex-start;

    &__caption {
      font-size: 1.7em;
    }
  }

  &__logout-button {
    margin: 20px;
  }
}